{% extends "layout.html" %}
{% block content %}

    <div class="page-header">
        <h2>Eventos</h2>
    </div>
    <div class="row">
        <a class="btn btn-primary" href="{{ url_for('core.add_event') }}">Adicionar Evento</a>
        <div class="col-md-16">
            <table class="table table-striped" id="owned_stock_table">
                <thead>
                    <tr>
                        <th>Prefixo</th>
                        <th>XVM</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr>
                        <td>{{ event.prefix }}</td>
                        <td>{{ event.xvm }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div><!-- /.container -->

{% endblock %}